body {
  background-color: whitesmoke;
}

.anatema {
  background-color: white;
  border-radius: 4%;
  margin-bottom: 10px;
}

.tbody {
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
}

.theader {
  background-color: royalblue !important;
}

.temabaslik {
  height: 60px;
}

.temabaslik td {
  height: 100%;
}
.konu {
  width: 20%;
}

.tarih {
  width: 10%;
}

.toplam {
  width: 10%;
}

.çözülen {
  width: 10%;
}

.doğru {
  width: 10%;
}

.yanlış {
  width: 10%;
}

.oranlar {
  width: 20%;
}

.butonartı {
  width: 10%;
}

.tdkonu {
  width: 50%;
}
