body {
  background-color: whitesmoke;
}

.anatema {
  background-color: white;

  border: 1px solid black;
  border-radius: 1%;
  margin-bottom: 10px;
}

.anatema {
  border-left: transparent;
  border-top: transparent;
  border-bottom: transparent;
}

.theader {
  background-color: royalblue;
}
